*,
html {
  box-sizing: border-box;
  font-size: 16px;
}

img {
  max-width: 100%;
}

:root {
  --satin-white: #ced4da;
  --gap: 1rem;
}

body {
  margin: 0 auto;
}

.container {
  padding: 20px 40px;
  max-width: 1440px;
  width: 100%;
  background-color: var(--satin-white);
}

.flex {
  display: flex;
  gap: var(--gap);
}
